/* =====================================
Site Name: Blame The Stars
=======================================*/
/*======================================
	Custom Fonts CSS
========================================*/
/*======================================
	Custom CSS
========================================*/
body {
  font-family: "Open Sans", sans-serif;
  color: #444444;
  background: #FDF5F0;
}

a {
  color: #1977cc;
  text-decoration: none;
}

a:hover {
  color: #3291e6;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
}

/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #fff;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #1977cc;
  border-top-color: #d1e6f9;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #1977cc;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 28px;
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  background: #298ce5;
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

.datepicker-dropdown {
  padding: 20px !important;
}

/*--------------------------------------------------------------
# Top Bar
--------------------------------------------------------------*/
#topbar {
  background: #FDF5F0;
  height: 82px;
  font-size: 14px;
  transition: all 0.5s;
  z-index: 996;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 500;
}

#topbar.topbar-scrolled {
  top: -45px;
}

#topbar .contact-info a {
  line-height: 1;
  color: #444444;
  transition: 0.3s;
}

#topbar .bi-envelope {
  padding-left: 100px;
}

#topbar .contact-info a:hover {
  color: #1977cc;
}

#topbar .contact-info i {
  color: #FFA500;
  padding-right: 15px;
  margin-left: 15px;
  line-height: 0;
  font-size: 18px;
}

#topbar .contact-info i:first-child {
  margin-left: 0;
}

#topbar .social-links a {
  color: #437099;
  padding-left: 15px;
  display: inline-block;
  line-height: 1px;
  transition: 0.3s;
}

#topbar .social-links a:hover {
  color: #1977cc;
}

#topbar .social-links a:first-child {
  border-left: 0;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  background: #fff;
  transition: all 0.5s;
  z-index: 997;
  padding: 15px 0;
  top: 82px;
  box-shadow: 0px 2px 3px rgba(25, 119, 204, 0.1);
  font-weight: 500;
}

#header.header-scrolled {
  top: 0;
}

#header .logo {
  font-size: 30px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 700;
  letter-spacing: 0.5px;
  font-family: "Poppins", sans-serif;
}

#header .logo a {
  color: #2c4964;
}

#header .logo img {
  max-height: 60px;
}

/**
* Appointment Button *
*/
.appointment-btn {
  margin-left: 25px;
  background: #1977cc;
  color: #fff;
  border-radius: 4px;
  padding: 8px 25px;
  white-space: nowrap;
  transition: 0.3s;
  font-size: 14px;
  display: inline-block;
}

.appointment-btn:hover {
  background: #166ab5;
  color: #fff;
}

@media (max-width: 768px) {
  .appointment-btn {
    margin: 0 15px 0 0;
    padding: 6px 18px;
  }
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation
*/
.navbar {
  padding: 0;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
}

.navbar>ul>li {
  position: relative;
  white-space: nowrap;
  padding: 8px 0 8px 50px;
}

.navbar a, .navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  color: #2c4964;
  white-space: nowrap;
  transition: 0.3s;
  border-bottom: 2px solid #fff;
  padding: 5px 2px;
}

.navbar a i, .navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.navbar a:hover, .navbar .active, .navbar .active:focus, .navbar li:hover>a {
  color: #FFA500;
  border-color: #FFA500;
}

.navbar .dropdown ul {
  display: block;
  position: absolute;
  right: 0px;
  left: auto;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
}

.navbar .dropdown ul li {
  min-width: 200px;
}

.navbar .dropdown ul a {
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 500;
  text-transform: none;
  color: #082744;
  border: none;
}

.navbar .dropdown ul a i {
  font-size: 12px;
}

.navbar .dropdown ul a:hover, .navbar .dropdown ul .active:hover, .navbar .dropdown ul li:hover>a {
  color: #1977cc;
}

.navbar .dropdown:hover>ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}

.navbar .dropdown .dropdown:hover>ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}

@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }

  .navbar .dropdown .dropdown:hover>ul {
    left: -100%;
  }
}

/**
* Mobile Navigation
*/
.mobile-nav-toggle {
  color: #2c4964;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}

.mobile-nav-toggle.bi-x {
  color: #fff;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }
}

.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(28, 47, 65, 0.9);
  transition: 0.3s;
  z-index: 999;
}

.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}

.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  background-color: #fff;
  overflow-y: auto;
  transition: 0.3s;
}

.navbar-mobile>ul>li {
  padding: 0;
}

.navbar-mobile a {
  padding: 10px 20px;
  font-size: 15px;
  color: #2c4964;
  border: none;
}

.navbar-mobile a:hover, .navbar-mobile .active, .navbar-mobile li:hover>a {
  color: #1977cc;
}

.navbar-mobile .getstarted {
  margin: 15px;
}

.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.navbar-mobile .dropdown ul li {
  min-width: 200px;
}

.navbar-mobile .dropdown ul a {
  padding: 10px 20px;
}

.navbar-mobile .dropdown ul a i {
  font-size: 12px;
}

.navbar-mobile .dropdown ul a:hover, .navbar-mobile .dropdown ul .active:hover, .navbar-mobile .dropdown ul li:hover>a {
  color: #1977cc;
}

.navbar-mobile .dropdown>.dropdown-active {
  display: block;
}

/*--------------------------------------------------------------
# Banner Section
--------------------------------------------------------------*/
.banner img {
  /* max-width: 100%;
  max-height: 500px; */
  width: 100%;
  height: 500px;
}

.askques h1 {
  position: absolute;
  left: 119px;
  top: 251px;
  color: #F2994A;
  font-family: Proza Libre;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 54px;
  letter-spacing: 0em;
  text-align: left;
}

.askques select {
  position: absolute;
  height: 50px;
  width: 463px;
  left: 120px;
  top: 329px;
  border-radius: 6px;
  padding: 0 15px;
}

.get_kundali {
  margin-top: -100px;
}

.row {
  margin: 0 auto;
}

.kundalibox {
  width: 100%;
  border-radius: 12px;
  padding: 30px 45px 33px 45px;
  background: #FDF5F0;
  border: 1px solid #F8E5D7;
  box-shadow: 0px 8px 24px rgba(123, 64, 9, 0.1);
  height: 484px;
}

.panchangbox {
  width: 100%;
  border-radius: 12px;
  padding: 30px 45px 33px 45px;
  background: #FDF5F0;
  border: 1px solid #F8E5D7;
  box-shadow: 0px 8px 24px rgba(123, 64, 9, 0.1);
  height: 484px;
}

.get_horoscope, .shop {
  padding: 45px 0px;
  text-align: center;
}

.get_title {
  padding-bottom: 5px;
  border-bottom: 2px solid #F2994A;
  text-align: center;
  position: relative;
  display: inline-block;
  padding-left: 30px;
  padding-right: 30px;
  margin: 0 auto;
  width: 449px;
}

.get_title h3 {
  color: #01539E;
  font-family: Proza Libre;
  font-size: 30px;
  line-height: 41px;
  font-weight: bold;
}

.get_title p {
  color: #A5ADB6;
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
}

.get_title img {
  position: absolute;
  left: 45%;
  right: auto;
  top: 84%;
  background: #FDF5F0;
  padding: 5px;
}

.get_moon_sign {
  float: right;
  background: linear-gradient(180deg, #DE9D12 0%, #FFC54A 100%);
  border-radius: 6px;
  border: none;
  height: 48px;
  width: 167px;
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #343A40;
  margin-top: 80px;
  margin-right: 50px;
}

.moonsign_card img {
  width: 90px;
  height: 90px;
}

.consult {
  text-align: center;
}

.bg_consult {
  position: relative;
  text-align: center;
  background-image: url("../images/BG.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: scroll;
  width: 100%;
  height: 450px;
}

.bg_consult img {
  max-width: 100%;
}

.get_title_consult {
  padding-bottom: 5px;
  border-bottom: 2px solid #F2994A;
  text-align: center;
  position: absolute;
  top: 50px;
  left: 50%;
  right: 50%;
  display: inline-block;
  padding-left: 30px;
  padding-right: 30px;
  margin-left: -224px;
  width: 449px;
}

.get_title_consult h3 {
  color: #fff;
  font-family: Proza Libre;
  font-size: 30px;
  line-height: 41px;
  font-weight: bold;
}

.get_title_consult p {
  color: #9D9898;
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
}

.get_title_consult img {
  position: absolute;
  left: 45%;
  right: auto;
  top: 84%;
  background: #130E2D;
  border-radius: 50%;
  padding: 5px;
}

.astro_online {
  margin-top:-230px;
  justify-content: center;
  margin-bottom: 60px;
}

.astro_card {
  height: 130px;
  width: 373px;
  border-radius: 12px;
  background-color: #FDF5F0;
  margin: 20px 15px;
  padding: 20px 40px;
  text-align: left;
  position: relative;
  border: 3px solid #fff;
}

.profile img {
  border-radius: 50%;
  height: 80px;
  width: 80px;
}

.online_indi {
  position: absolute;
  top: 12%;
  left: 85%;
  background-color: #29CF1A;
}

.pro_rate {
  position: absolute;
  top: 100%;
  left: 50%;
  background-color: #F4AF1B;
  width: 63px;
  height: 20px;
  color: #1C1F22;
}

.pro_rate i {
  font-size: 12px;
  margin-left: 10px;
}

.pro_rate i:hover {
  color: #29CF1A;
  transform: scale(1.2);
}

.astro_pro {
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  margin-left: -30px;
}

.astro_pro h5 {
  font-size: 16px;
  line-height: 22px;
  color: #01539E;
  margin-top: 15px;
  z-index: 1;
}

.astro_pro p {
  font-size: 14px;
  line-height: 20px;
  color: #65707B;
  margin-bottom: 0;
  align-items: center;
}

.call_now {
  height: 40px;
  width: 40px;
  border: 1px solid #01539E;
  box-sizing: border-box;
  border-radius: 50%;
}

.call_now:hover {
  border: 2px solid #01539E;
}

.call_now img {
  height: 18px;
  width: 18px;
  border-radius: 0px;
}

.shop_online {
  margin-top: 40px;
  text-align: center;
}

.shop_card {
  height: 190px;
  width: 270px;
  border-radius: 12px;
  background: #FFFAF7;
  margin: 10px;
}

.discount {
  height: 36px;
  width: 91px;
  border-radius: [object Object]px;
  background: linear-gradient(360deg, #130E2D 0%, #1F2749 100%);
  border-radius: 12px 0px 0px 0px;
  color: #fff;
  padding: 5px;
}

.discount p {
  margin-bottom: 0;
  font-family: Nunito;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 0em;
}

.prod_rating {
  display: flex;
  height: 30px;
  width: 120px;
  background: #FAF5F1;
  border-radius: 12px 0 0 12px;
  padding: 8px;
}

.prod_rating i {
  color: #F4AF1B;
  font-size: 11px;
  margin: 0 3px;
}

.prod_rating i:hover {
  color: #01539E;
  transform: scale(1.2);
}

.shop_card img {
  width: 100px;
  height: 100px;
  margin-top: 25px;
}

.prod_price {
  text-align: left;
  margin-left: 10px;
}

.prod_price h6 {
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  color: #01539E;
}

.prod_price p {
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  color: #DE9D12;
}

.prod_price span {
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  text-decoration-line: line-through;
  color: #65707B;
  margin-left: 10px;
}

.kundli_bg {
  z-index: -1000;
}

.match_test {
  background: #FAF5F1;
  border: 3px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 12px;
  height: 450px;
  width: 83%;
  border-radius: 12px;
  margin-top: -215px;
  position: absolute;
  z-index: 1000;
}

.blog {
  padding: 45px 0px;
  text-align: center;
  margin-top: 290px;
}

.blog_card {
  height: 280px;
  width: 373px;
  border-radius: 12px;
  background: #FFFFFF;
  padding: 25px 40px;
  margin-bottom: 30px;
}

.blog_title img {
  height: 80px;
  width: 90px;
  border-radius: 6px;
}

.blog_title p {
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  color: #343A40;
  font-weight: 400;
  letter-spacing: 0em;
  text-align: left;
  margin-left: 24px;
  padding-top: 2px;
}

.blog_desc p {
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  text-align: justify;
  color: #A5ADB6;
}

.read_more a {
  font-family: Nunito;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  color: #F4AF1B;
  margin-right: 3px;
}

.read_more i {
  color: #F4AF1B;
  font-size: 14px;
  letter-spacing: 0em;
  margin-top: 4px;
}

.read_more:hover {
  transform: scale(1.1);
}

.bg_testimonial {
  position: relative;
  text-align: center;
  background: url("../images/bgtesti.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: scroll;
  width: 100%;
  height: 500px;
}

.bg_testimonial img {
  max-width: 100%;
}

.testimonials {
  margin-top: -250px;
  justify-content: center;
}

.testi_card {
  width: 373px;
  height: 205px;
  border-radius: 12px;
  background: #FDF5F0;
  margin: 10px 10px 60px 10px;
  padding: 15px 40px;
  text-align: left;
  position: relative;
  border: 2px solid #fff;
}

.testi_pro_pic img {
  position: absolute;
  width: 80px;
  height: 80px;
  left: 30px;
  top: -40px;
  border-radius: 50%;
}

.testi_pro_pic p {
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #65707B;
  text-align: justify;
  margin-top: 35px;
}

.client_intro h6 {
  width: 88px;
  height: 22px;
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #01539E;
  margin-bottom: 0;
}

.client_intro p {
  width: 76px;
  height: 20px;
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #A5ADB6;
}

.client_rating i {
  font-size: 10px;
  letter-spacing: 4px;
  color: #F4AF1B;
}

.client_rating i:hover {
  color: #01539E;
}

.footer {
  margin-top: 30px;
  height: 263px;
  padding: 50px;
  border-radius: 0px;
  background: linear-gradient(360deg, #130E2D 0%, #1F2749 100%);
}

.footer_about p {
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #A5ADB6;
  padding-right: 70px;
}

.footer h6 {
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  color: #FDF5F0;
}

.footer ul {
  list-style: none;
  margin-top: 20px;
  margin-left: -30px;
}

.footer li a {
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #A5ADB6;
}

.subscribe {
  position: relative;
  margin-right: 50px;
}

.subscribe input {
  height: 40px;
  width: 100%;
  background: #FAF5F1;
  padding: 5px 12px;
}

.enter_email {
  position: absolute;
  top: 2px;
  right: 7px;
  z-index: 2;
  height: 36px;
  width: 36px;
  cursor: pointer;
  background: #F2994A;
  border: 1px solid #F4F5F6;
  box-sizing: border-box;
  box-shadow: 0px 8px 24px rgba(123, 64, 9, 0.1);
  border-radius: 8px;
  transform: translateX(2px);
}

.subscribe i {
  color: #FDF5F0;
}

.social_link a {
  margin-left: 10px;
}

/*======================================
   Responsive CSS
========================================*/
@media(max-width: 767px) {}

@media(max-width: 600px) {}

@media(max-width: 481px) {}
